.skills{
    position: relative;
    bottom: 170px;
}
.git{
    color: #f05133 !important;
}
.height-btn{
    height: 30px !important;
    width: 30px !important;
}
.height-btn:hover{
    font-weight: bold;
}

.remove-padding{
    padding: 3rem;
}

@media (max-width: 418px) {
    .remove-padding {
        padding: 0 !important;
    }
}