.skills{
    position: relative;
    bottom: 170px;
}
.git{
    color: #f05133 !important;
}
.height-btn{
    height: 30px !important;
    width: 30px !important;
}
.height-btn:hover{
    font-weight: bold;
}