<div class="row bg-transparent skills">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3 class="fSixCaps text-center text-light fs-70">HABILIDADES PROFESIONALES</h3>
        <div class="bg-dark shadow-three mt-2 p-5">
            <p class="text-light f-open-sans-c fs-25 lh-25">

            </p>
            <div class="row">

                <div class="col-3">
                    <circle-progress [percent]="85" [radius]="70" [outerStrokeWidth]="20" [innerStrokeWidth]="1"
                        [outerStrokeColor]="'#f37001'" [innerStrokeColor]="'#f37001'" [animation]="true"
                        [animationDuration]="300"></circle-progress>
                    <img src="https://2014maximo.github.io/trucospadesarrollo/assets/img/categorias/html.png"
                        class="drop" alt="logo-developer" height="30" width="auto">
                    <p class="text-light text-center f-open-sans-c">HTML</p>

                </div>
                <div class="col-3">
                    <circle-progress [percent]="70" [radius]="70" [outerStrokeWidth]="20" [innerStrokeWidth]="1"
                        [outerStrokeColor]="'#438bab'" [innerStrokeColor]="'#438bab'" [animation]="true"
                        [animationDuration]="300"></circle-progress>
                    <img src="https://2014maximo.github.io/trucospadesarrollo/assets/img/categorias/css.png"
                        class="drop" alt="logo-developer" height="30" width="auto">
                    <p class="text-light text-center f-open-sans-c">CSS</p>


                </div>
                <div class="col-3">
                    <circle-progress [percent]="60" [radius]="70" [outerStrokeWidth]="20" [innerStrokeWidth]="1"
                        [outerStrokeColor]="'#f6d037'" [innerStrokeColor]="'#f6d037'" [animation]="true"
                        [animationDuration]="300"></circle-progress>
                    <img src="https://2014maximo.github.io/trucospadesarrollo/assets/img/categorias/javascript.png"
                        class="drop" alt="logo-developer" height="30" width="auto">
                    <p class="text-light text-center f-open-sans-c">JAVASCRIPT</p>


                </div>
                <div class="col-3 d-block">
                    <circle-progress [percent]="75" [radius]="70" [outerStrokeWidth]="20" [innerStrokeWidth]="1"
                        [outerStrokeColor]="'#ca1717'" [innerStrokeColor]="'#b52e31'" [animation]="true"
                        [animationDuration]="400">

                    </circle-progress>
                    <img src="https://2014maximo.github.io/trucospadesarrollo/assets/img/categorias/angular.png"
                        class="drop" alt="logo-developer" height="30" width="auto">
                    <p class="text-light text-center f-open-sans-c">ANGULAR</p>

                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <circle-progress [percent]="50" [radius]="70" [outerStrokeWidth]="20" [innerStrokeWidth]="1"
                        [outerStrokeColor]="'#176bff'" [innerStrokeColor]="'#176bff'" [animation]="true"
                        [animationDuration]="400">

                    </circle-progress>
                    <div class="text-center">
                        <img src="https://2014maximo.github.io/trucospadesarrollo/assets/img/icons/ionic.png"
                            class="drop mx-auto" alt="logo-developer" height="30" width="auto">
                    </div>
                </div>
                <div class="col-3"><circle-progress [percent]="55" [radius]="70" [outerStrokeWidth]="20"
                        [innerStrokeWidth]="1" [outerStrokeColor]="'#065b9c'" [innerStrokeColor]="'#065b9c'"
                        [animation]="true" [animationDuration]="400">

                    </circle-progress>
                    <img src="https://2014maximo.github.io/trucospadesarrollo/assets/img/icons/flutter_text_white.png"
                        class="drop" alt="logo-developer" height="30" width="auto">
                    <p class="text-light text-center f-open-sans-c">FLUTTER</p>
                </div>
                <div class="col-3">
                    <circle-progress [percent]="40" [radius]="70" [outerStrokeWidth]="20" [innerStrokeWidth]="1"
                        [outerStrokeColor]="'#f05133'" [innerStrokeColor]="'#f05133'" [animation]="true"
                        [animationDuration]="400">

                    </circle-progress>
                    <i class="bi bi-git text-light git fs-25"></i>

                    <p class="text-light text-center f-open-sans-c">GIT</p>
                </div>
                <div class="col-3">
                    <circle-progress [percent]="40" [radius]="70" [outerStrokeWidth]="20" [innerStrokeWidth]="1"
                        [outerStrokeColor]="'#417e38'" [innerStrokeColor]="'#417e38'" [animation]="true"
                        [animationDuration]="400">

                    </circle-progress>
                    <div class="text-center">
                        <img src="https://2014maximo.github.io/trucospadesarrollo/assets/img/icons/Node.js_logo_black.png"
                            class="drop" alt="logo-developer" height="30" width="auto">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <circle-progress [percent]="70" [radius]="70" [outerStrokeWidth]="20" [innerStrokeWidth]="1"
                        [outerStrokeColor]="'#35697d'" [innerStrokeColor]="'#35697d'" [animation]="true"
                        [animationDuration]="400">

                    </circle-progress>
                    <div class="text-center">
                        <img src="https://2014maximo.github.io/trucospadesarrollo/assets/img/categorias/wordpress2.png"
                            class="drop mx-auto" alt="logo-developer" height="30" width="auto">
                    </div>
                </div>
                <div class="col-3"><circle-progress [percent]="55" [radius]="70" [outerStrokeWidth]="20"
                        [innerStrokeWidth]="1" [outerStrokeColor]="'#45538b'" [innerStrokeColor]="'#45538b'"
                        [animation]="true" [animationDuration]="400">

                    </circle-progress>
                    <div class="text-center">
                        <img src="https://2014maximo.github.io/trucospadesarrollo/assets/img/icons/php.png" class="drop"
                            alt="logo-developer" height="30" width="auto">
                    </div>
                </div>
                <div class="col-3">
                    <circle-progress [percent]="65" [radius]="70" [outerStrokeWidth]="20" [innerStrokeWidth]="1"
                        [outerStrokeColor]="'#0077d5'" [innerStrokeColor]="'#0077d5'" [animation]="true"
                        [animationDuration]="400">

                    </circle-progress>
                    <div class="text-center">
                        <img src="https://2014maximo.github.io/trucospadesarrollo/assets/img/icons/sql.png" class="drop"
                            alt="logo-developer" height="30" width="auto">
                    </div>
                </div>
                <div class="col-3"></div>
            </div>




        </div>
    </div>
    <div class="col-md-2"></div>
</div>