<div class="row bg-transparent skills">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3 class="fSixCaps text-center text-light fs-70">HABILIDADES PROFESIONALES</h3>
        <div class="bg-dark shadow-three mt-2 p-5">
            <p class="text-light f-open-sans-c fs-25 lh-25">
                Actualmente, he estado enfocado en el desarrollo frontend en Angular, con más de 5 años de experiencia.
                Me gusta trabajar en equipo, buscar una formación continua, aplicar nuevos conocimientos en desarrollo,
                y poner mi creatividad y corazón en mi trabajo diario.
            </p>
            
        </div>
    </div>
    <div class="col-md-2"></div>
</div>