<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3 class="fSixCaps text-center text-light fs-70">DEL BLOG</h3>
		<div class="espacio"></div>

		<div class="row">
			<div class="col-md-4 text-center">
				<div class="card mx-auto f-open-sans-c" style="width: 18rem;">
					<img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/busqueda-empleo.jpeg" alt="" class="card-img-top">
					<div class="bg-dark">
					  <h5 class="card-title text-light">Búsqueda de empleo como desarrollador</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
			</div>
			<div class="col-md-4 border text-center">
				<div class="card border mx-auto" style="width: 18rem;">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
			</div>
			<div class="col-md-4 border text-center">
				<div class="card border mx-auto" style="width: 18rem;">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
			</div>
		</div>
        
    </div>
    <div class="col-md-2"></div>
</div>
<div class="espaciado"></div>