<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h3 class="fSixCaps text-center text-light fs-70">{{ 'blog' | translate }}</h3>

		<div class="row">
			<div class="col-md-4" *ngFor="let post of FROM_BLOG">
				<div class="d-flex justify-content-end mb-2 drop-two">
                    <a href="{{ post.linkCategory}}">
                        <img src="{{ post.srcIconCategory }}" class="drop" alt="logo-angular" height="30" width="auto">
                    </a>
                </div>
                <div class="pr-3 pt-3 imgPost">
                    <img class="shadow-two" alt="publicación githubpages" src="{{ post.srcImg }}" height="220" width="auto">
                </div>
                <div class="mt-5">
                    <h4 class="tituloPost f-bebas text-light">{{ post.title | translate }}</h4>
                </div>
                <p class="f-open-sans-c fs-17 lh-17 text-light">{{ post.description | translate }}</p>
                <time><p class="f-shadow-into-l text-light fs-15 m-0">{{ post.date }}</p></time>
                <a class="f-open-sans-c leerMas mt-2" href="{{ post.link }}">{{ 'leerMas' | translate }} &gt;</a>
			</div>
		</div>

	</div>
	<div class="col-md-2"></div>
</div>
<div class="espaciado"></div>