<h3 class="fSixCaps text-center text-light fs-70">MI EXPERIENCIA</h3>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center text-light f-open-sans-c">PRIMERA ERA</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="bg-dark shadow-three text-light p-5 f-open-sans-c me-2" data-aos="fade-right"
                    data-aos-offset="300" data-aos-easing="ease-in-sine">
                    SENA<br>
                    Desarrollo de Software<br>
                    2016-2017<br>
                    Medellín<br>
                    <ul>
                        <li>Conceptos generales de la programación</li>
                        <li>Algoritmos</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>estructuras de datos (arrays, listas, diccionarios, diagramas, toma de requerimientos)</li>
                        <li>Java</li>
                        <li>Sql</li>
                        <li>Versionamiento Github</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="bg-dark shadow-three text-light p-5 f-open-sans-c ms-2" data-aos="fade-left"
                data-aos-offset="300" data-aos-easing="ease-in-sine">
                    SENA<br>
                    Tecnólogo Análisis y Desarrollo de Sistemas de Información<br>
                    2021-2023<br>
                    Medellín<br>
                    <ul>
                        <li>Conceptos básicos</li>
                        <li>Algoritmos</li>
                        <li>Diagramación</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>Java</li>
                        <li>C#</li>
                        <li>Python</li>
                        <li>SQL</li>
                        <li>noSQL</li>
                        <li>Librerias y frameworks Angular, Ionic</li>
                        <li>Scrum y Kamban</li>
                        <li>Patrones de diseño UML</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="espacio"></div>
        <h2 class="text-center text-light f-open-sans-c">SEGUNDA ERA</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="bg-dark shadow-three text-light p-5 f-open-sans-c me-2" data-aos="fade-right"
                    data-aos-offset="300" data-aos-easing="ease-in-sine">
                    ESTRATÉGICO DIGITAL<br>
                    Desarrollador Web<br>
                    2017-2018<br>
                    Medellín<br>
                    <ul>
                        <li>Construcción y actualización de páginas web</li>
                        <li>CMS Wordpress</li>
                        <li>Joomla</li>
                        <li>HTML, CSS, Javascript, PHP</li>
                        <li>Migraciones web a otros dominios</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="bg-dark shadow-three text-light p-5 f-open-sans-c ms-2" data-aos="fade-left"
                data-aos-offset="300" data-aos-easing="ease-in-sine">
                SÍMBOLO DIGITAL<br>
                Desarrollador Web<br>
                2018-2019<br>
                Medellín<br>
                    <ul>
                        <li>Construcción y actualización de páginas web</li>
                        <li>Wordpress</li>
                        <li>HTML, CSS y Javascript</li>
                        <li>PHP</li>
                        <li>Migraciones web a otros dominios</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="bg-dark shadow-three text-light p-5 f-open-sans-c me-2" data-aos="fade-right"
                    data-aos-offset="300" data-aos-easing="ease-in-sine">
                    COTRAFA<br>
                Analista Desarrollador<br>
                2018-2019<br>
                Medellín<br>
                    <ul>
                        <li>Construcción y actualización de páginas web</li>
                        <li>Wordpress</li>
                        <li>HTML, CSS y Javascript</li>
                        <li>PHP</li>
                        <li>Migraciones web a otros dominios</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="bg-dark shadow-three text-light p-5 f-open-sans-c ms-2" data-aos="fade-left"
                data-aos-offset="300" data-aos-easing="ease-in-sine">
                SMARTSOFTLABS<br>
                Ingeniero de Software<br>
                2023-Oct-Dic<br>
                REMOTO<br>
                <ul>
                    <li>Desarrollo Angular</li>
                    <li>Adaptación responsive</li>
                    <li>Pruebas unitarias - testing KARMA - JASMINE</li>
                    <li>Scrum</li><li>CI/CD - Gitlab</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="espaciado"></div>
    </div>
</div>