<h3 class="fSixCaps text-center text-light fs-70">MI EXPERIENCIA</h3>

<div class="row">
    <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <div class="espaciado bg-dark" data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine"></div>
                    <div class="espaciado"></div>
                    <div class="espaciado bg-dark" data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine"></div>
                    <div class="espaciado"></div>
                    <div class="espaciado bg-dark" data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine"></div>
                    <div class="espaciado"></div>
                    <div class="espaciado bg-dark"
                        data-aos="fade-right"
                        data-aos-offset="300"
                        data-aos-easing="ease-in-sine"></div>
                    <div class="espaciado"></div>
                    <div class="espaciado bg-dark" data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine"></div>
                </div>
                <div class="col-md-6">
                    <div class="espaciado"></div>
                    <div class="espaciado bg-dark"
                        data-aos="fade-left"
                        data-aos-offset="300"
                        data-aos-easing="ease-in-sine"></div>
                    <div class="espaciado"></div>
                    <div class="espaciado bg-dark"
                        data-aos="fade-left"
                        data-aos-offset="300"
                        data-aos-easing="ease-in-sine"></div>
                    <div class="espaciado"></div>
                    <div class="espaciado bg-dark"
                        data-aos="fade-left"
                        data-aos-offset="300"
                        data-aos-easing="ease-in-sine"></div>
                    <div class="espaciado"></div>
                    <div class="espaciado bg-dark"
                        data-aos="fade-left"
                        data-aos-offset="300"
                        data-aos-easing="ease-in-sine"></div>
                    <div class="espaciado"></div>
                    <div class="espaciado bg-dark"
                        data-aos="fade-left"
                        data-aos-offset="300"
                        data-aos-easing="ease-in-sine"></div>
                    
                </div>
            </div>
        </div>
    <div class="col-md-1"></div>
</div>