<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h3 class="fSixCaps text-center text-light fs-70">TESTIMONIOS</h3>

		<div class="bg-dark shadow-three mt-2 pt-5 pb-5 about-me" data-aos="fade-up" data-aos-duration="3000">

			<div id="carouselExample" class="carousel slide">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-2">
										<span class="text-light f-operator-m fs-110 m-0 lh-90 text-end">“</span>
									</div>
									<div class="col-md-10">
										<p class="text-light f-open-sans-c fs-20 lh-20">"Trabajar con Alex Muñoz ha sido
											una
											experiencia enriquecedora. Tiene un enfoque muy práctico para resolver
											problemas, y
											su dominio en tecnologías como Angular le permite avanzar rápido sin perder
											de vista
											la calidad. Siempre está dispuesto a ayudar y compartir lo que sabe."</p>
									</div>
								</div>
								<hr class="bg-secondary">
								<div class="d-flex">
									<img src="assets/img/Harrison.jpeg" alt="Harrison photo" width="70" height="70"
										class="rounded-circle m-2">
								</div>
								<p class="text-light f-open-sans-c fs-25 lh-25 fw-7 m-0">Jarrison Garcia Paniagua</p>
								<p class="text-light f-open-sans-c">Technical leader, at Mercadolibre</p>
							</div>
							<div class="col-md-2"></div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-2">
										<span class="text-light f-operator-m fs-110 m-0 lh-90 text-end">“</span>
									</div>
									<div class="col-md-10">
										<p class="text-light f-open-sans-c fs-20 lh-20">"Alex se destaca por su
											compromiso y responsabilidad. Durante el desarrollo de los proyectos en la
											cooperativa COTRAFA, supo adaptarse a cambios de última hora y entregar
											resultados funcionales y bien estructurados. Es un desarrollador confiable
											que no solo ejecuta, sino que también propone mejoras cuando las detecta."
										</p>
									</div>
								</div>
								<hr class="bg-secondary">
								<div class="d-flex">
									<img src="assets/img/Oscar.jpeg" alt="Oscar photo" width="70" height="70"
										class="rounded-circle m-2">
								</div>
								<p class="text-light f-open-sans-c fs-25 lh-25 fw-7 m-0">Óscar Duván Flórez Ricardo</p>
								<p class="text-light f-open-sans-c">Arquitecto De Software Senior</p>
							</div>
							<div class="col-md-2"></div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-2">
							</div>
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-2">
										<span class="text-light f-operator-m fs-110 m-0 lh-90 text-end">“</span>
									</div>
									<div class="col-md-10">
										<p class="text-light f-open-sans-c fs-20 lh-20">"Lo que más valoro de Alex Muñoz
											es su capacidad para traducir ideas complejas en soluciones simples y
											efectivas. Me apoyó en la creación de una aplicación que hoy uso con
											regularidad, y siempre estuvo atento a los detalles y dispuesto a explicar
											lo técnico de forma clara."</p>

									</div>
								</div>
								<hr class="bg-secondary">
								<div class="d-flex">
									<img src="assets/img/Cristian.jpg" alt="Cristian photo" width="70" height="70"
										class="rounded-circle m-2">
								</div>
								<p class="text-light f-open-sans-c fs-25 lh-25 fw-7 m-0">Cristian Camilo Muñoz</p>
								<p class="text-light f-open-sans-c">Software Engineer</p>
							</div>
							<div class="col-md-2"></div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-2">
							</div>
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-2">
										<span class="text-light f-operator-m fs-110 m-0 lh-90 text-end">“</span>
									</div>
									<div class="col-md-10">
										<p class="text-light f-open-sans-c fs-20 lh-20">"Tuve la oportunidad de trabajar con Alex en el desarrollo de una aplicación web basada en Angular 14 con NgRx. Me impresionó su capacidad para estructurar el código de manera clara y sostenible, además de su disposición constante para ayudar al equipo a entender conceptos complejos como la gestión de estados. Su experiencia en frontend es evidente, y su actitud colaborativa hace más fácil cualquier proyecto compartido."</p>

									</div>
								</div>
								<hr class="bg-secondary">
								<div class="d-flex">
									<img src="assets/img/Felipe.jpeg" alt="Felipe photo" width="70" height="70"
										class="rounded-circle m-2">
								</div>
								<p class="text-light f-open-sans-c fs-25 lh-25 fw-7 m-0">Felipe Montoya Restrepo</p>
								<p class="text-light f-open-sans-c">Software Developer</p>
							</div>
							<div class="col-md-2"></div>
						</div>
					</div>

				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>

	</div>
	<div class="col-md-2"></div>
</div>

<div class="espaciado"></div>