<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3 class="fSixCaps text-center text-light fs-70">TESTIMONIOS</h3>

        <div class="bg-dark shadow-three mt-2 p-5 about-me" data-aos="fade-up" data-aos-duration="3000">
			
			<div id="carouselExample" class="carousel slide">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<div class="row">
						<div class="col-md-12">
							<div class="espacio"></div>
							<p class="text-light f-open-sans-c fs-25 lh-25">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatem fugiat, ut accusamus quam tenetur magni cum? Tempore iusto suscipit, omnis consequuntur, corrupti minus sequi unde doloremque magnam labore placeat.</p>
							<p class="text-light">Jarrison Andrei</p>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-md-12">
							<div class="espacio"></div>
							<p class="text-light f-open-sans-c fs-25 lh-25">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatem fugiat, ut accusamus quam tenetur magni cum? Tempore iusto suscipit, omnis consequuntur, corrupti minus sequi unde doloremque magnam labore placeat.</p>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-md-12">
							<div class="espacio"></div>
							<p class="text-light f-open-sans-c fs-25 lh-25">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatem fugiat, ut accusamus quam tenetur magni cum? Tempore iusto suscipit, omnis consequuntur, corrupti minus sequi unde doloremque magnam labore placeat.</p>
						</div>
					</div>
				  </div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				  <span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="visually-hidden">Next</span>
				</button>
			  </div>
		</div>

    </div>
    <div class="col-md-2"></div>
</div>

<div class="espaciado"></div>