<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="bg-dark shadow-three mt-2 p-5 about-me" data-aos="fade-up" data-aos-duration="3000">
            <p class="text-light f-open-sans-c fs-25 lh-25">
                Actualmente, he estado enfocado en el desarrollo frontend en Angular, con más de 5 años de experiencia. Me gusta trabajar en equipo, buscar una formación continua, aplicar nuevos conocimientos en desarrollo, y poner mi creatividad y corazón en mi trabajo diario.
            </p>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">
                    <a href="assets/doc/CV_ALEX_MUNOZ_DEVELOPER_.pdf" download>
                        <div class="l-menu col bg-Wordpress text-light f-shadow-into-l cursor-p mb-2 rot-1 fs-30">
                            DESCARGAR CV
                        </div>
                    </a>
                    <a href="#form-contact">
                        <div class="l-menu col bg-Wordpress text-light f-shadow-into-l cursor-p mb-2 pos-z fs-30">
                            CONTACTA ME
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>