<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="bg-dark shadow-three mt-2 p-5 about-me" data-aos="fade-up" data-aos-duration="3000">
			<p class="text-light f-open-sans-c fs-20 lh-20">
				"Actualmente, he estado enfocado en el desarrollo frontend en Angular, con más de 5 años de experiencia.
				Me gusta trabajar en equipo, buscar una formación continua, aplicar nuevos conocimientos en desarrollo,
				y poner mi creatividad y corazón en mi trabajo diario. También considero que la vida y el tiempo que
				tenemos son una oportunidad y una bendición para compartir la pasión que nos hace únicos, y que el mundo
				espera y necesita para prosperar. "
			</p>

			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-3">
					<a href="assets/doc/CV_ALEX_MUNOZ_DEVELOPER_.pdf" download class="text-decoration-none">
						<p class="l-button col bg-Javascript f-shadow-into-l cursor-p mb-2 rot-1 fs-30">
							DESCARGAR CV
						</p>
					</a>

				</div>
				<div class="col-md-3">
					<button data-bs-toggle="modal"
						class="l-button col bg-Wordpress text-light f-shadow-into-l cursor-p mb-2 pos-z fs-30 border-0"
						data-bs-target="#exampleModal">
						CONTACTA ME
					</button>

				</div>
				<div class="col-md-3"></div>



			</div>

		</div>

	</div>
	<div class="col-md-2"></div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="false" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">

		<div class="modal-content bg-dark border border-warning">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<app-form-contact></app-form-contact>
			</div>
		</div>
	</div>
</div>