<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6" id="form-contact">
                <form>
                    <div class="mb-2">
                      <label for="name" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="name" name="name" required />
                    </div>
                    <div class="mb-2">
                      <label for="email" class="form-label">Correo electrónico</label>
                      <input type="email" class="form-control" id="email" name="email" required />
                    </div>
                    <div class="mb-2">
                      <label for="message" class="form-label">Mensaje</label>
                      <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </form>
            </div>
            <div class="col-md-6 text-light">
                <h4 class="text-center">No dude en contactar</h4>
                <p>Cualquier clase de inquietud que surja o si de alguna forma requieres algo específico puedes enviar tu correo con toda la descripción</p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>